h1 {
    text-align: center;
    color: rgb(156, 157, 158);
  }
  nav {
    background-color: rgb(196, 197, 193);
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 25px;
}

nav a {
    color: white;
    font-size: 1.5em;
}

nav a:hover {
    color: pink;
    text-decoration: none;
}
body {
  background-color: rgb(136, 144, 146);
  text-align: center;
}

main {
  margin: 5%;
  padding: 10%;

  background-color: white;
}
div{
  align-items: center;
}